[http]
socket = "0.0.0.0:8053"

[dns]
socket = "127.0.0.1:53"
ttl = 60

[users]

[users.maja]
pw = "$2y$04$Zke5GculHfWqZYGMAhavv.o0UgO1cUeRn01Y.SuGK8g8hWvcX5CaW" # == "worker"
domains = ["cerana.apis", "mellifera.apis"]

[users.willi]
pw = "$2y$04$p5aIQaSF4cgGgCsrxXNIoOFcCbQV4zhw4WoVZCBS/kJwmBu6UWL5i" # == "drone"
domains = ["mellifera.apis"]
