[http]
socket = "0.0.0.0:8053"

[dns]
socket = "127.0.0.1:53"
ttl = 60

[users]

[users.maja]
pw = "$2y$12$WmMKjrv4TgDhzXeLirAhLu4ZNfesMhu6kIAwklq9DzNbuKCYoXeEy"
domains = ["cerana.apis", "mellifera.apis"]

[users.willi]
pw = "$2y$12$vZey0./3YcFFOO720/PlyeURFUSRmGs5hVei8yHBIYV/QsSERXWku"
domains = ["mellifera.apis"]
